# Node dependencies
node_modules/
**/node_modules/
**/dist/
Project_Costing_Estimate_SGD_AI.csv
Project_Costing_Estimate_SGD_AI.xlsx
Project_Costing_Estimate.csv

# Local environment secrets
backend/.env